<div class="container">
  <header>
    <h1>To-Do</h1>
  </header>
  <div class="div-btn">
    <input
      type="text"
      [(ngModel)]="inputText"
      placeholder="Digite uma tarefa"
    />
    <button type="button" (click)="addTarefa()">+</button>
  </div>
  <div class="div-list">
    <ul *ngFor="let tarefa of tarefas">
      <li>
        <div class="div-list-line">
          <div>
            <input type="checkbox" [(ngModel)]="tarefa.situacao"/>

            <p *ngIf="tarefa.situacao">{{tarefa.descricao}}</p>

            <input *ngIf="!tarefa.situacao" type="text" value = {{tarefa.descricao}} >
          </div>
          <div>
            <button type="button" (click)="removeTarefa(tarefa)">x</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
